<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>Was My Car Towed: Find out if your car was towed or relocated in Chicago</title>
  <meta name="description" content="Find out if your car was towed or relocated in Chicago.">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <link rel="shortcut icon" href="/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <!--[if lt IE 9]>
    <script src="/javascripts/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <div class="wrapper">
    <section>
      <%= yield %>
    </section>
    <div class="push"></div>
  </div>
  <footer>
    <p>This website was made possible using <a href="https://data.cityofchicago.org">data from the City of Chicago</a>.</p>
    <p>A project by <a href="http://srobbin.com">Scott Robbin</a></p>
  </footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascripts/app.js"></script>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= "#{settings.google_analytics}" %>']);
    _gaq.push(['_trackPageview']);
   
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>